{{>main}}
<main>
    {{>logo}}
    <h1 class="page__enter">Вход</h1>
    <form class="login-page__form">
        <div class="login-page__input-form">
            <input type="text" placeholder="логин" class="login-page__input">
            <input type="password" placeholder="пароль" class="login-page__input">
        </div>
    </form>

        <a href='../chat/chat.hbs' class="link-button">
            <!--        АВТОРИЗОВАТЬСЯ-->
                   {{>button/button button_title="АВТОРИЗОВАТЬСЯ" add_class=""}}
        </a>


    <a href='../register/register.hbs' class="link-button">
<!--        зарегистрироваться-->
        {{>button/button button_title="зарегистрироваться" add_class=""}}
    </a>
</main>
