.register-page__form-container
  margin: 2% auto 2%
  padding-bottom: 2%
  background: #F2F2F2
  border-radius: 3%
  width: 48%
  flex-direction: column
  display: flex
  align-items: center

.register-page__input
  height: 0.8em
  padding: 4% 0 5% 3%
  background: #F2F2F2
  box-sizing: border-box
  font-size: 1.2em
  border: none
  border-bottom: .08em solid black
