{{>main}}
<main>
<!--    {{>logo}}-->
<!--    <h1 class="page__enter">ЗАГЛУШКА СТРАНИЦЫ ЧАТОВ</h1>-->
    <div class="page-chat">
        <div class="all-chats">
        </div>
        <div class="current-chat">
            <div class="current-chat__header">
                <a class="button-chat">Тест</a>
                <a href='../settings/settings.hbs' class="button-chat">МЕНЮ ЧАТА</a>
            </div>
        </div>
    </div>


</main>
