<html lang="">
<head>
    <link rel="stylesheet" href="./partials/login/login.sass"/>
</head>
<body>
<main class="login-page">
    <h1 class="login-header">MONOCHROME</h1>
    <h1 class="login-enter">Вход</h1>
    <form class="login-form">
        <div class="login-input">
            <input type="text" placeholder="логин" id="login">
            <input type="password" placeholder="пароль" id="password">
        </div>
    </form>
    <button class="button btn-authorize">АВТОРИЗОВАТЬСЯ</button>
    <button class="button btn-register">зарегистрироваться</button>
</main>
</body>
</html>
