<html lang="html">
<head>
    <title>Monochrome</title>
</head>
<body>
<div>
    {{>login/login}}
<!--    <a href="./partials/login/login.hbs">Login</a>-->
<!--    <a href="./partials/registration/registration.hbs">Registration</a>-->
<!--    <a href="./partials/404/404.hbs" >404</a>-->
<!--    <a href="./partials/500/500.hbs">500</a>-->
<!--    <a href="./partials/chats/chats.hbs" >Chats</a>-->
</div>
</body>
</html>
