{{>main}}
<main>
    {{>logo}}
    <h1 class="page__enter">Вход</h1>
    <form class="login-page__form">
        <div class="login-page__input-form">
            <input type="text" placeholder="логин" class="login-page__input">
            <input type="password" placeholder="пароль" class="login-page__input">
        </div>
    </form>
    <a href='./pages/chat/chat.hbs' class="button">АВТОРИЗОВАТЬСЯ</a>
    <a href='./pages/register/register.hbs' class="button">зарегистрироваться</a>
</main>
