@import "normalize.css"

@import "./src/partials/logo/logo.sass"
@import "../src/partials/button/button.sass"
@import "../src/partials/input/input.sass"

@import "pages/login/login.sass"
@import "./src/pages/register/register.sass"
@import "./src/pages/settings/settings.sass"
@import "./src/pages/chat/chat.sass"

html
  background-color: #151515

.page__enter
  text-align: center
  padding-top: 1%
  color: #FFFFFF
  font-size: 3em
  font-family: 'Inter', sans
  font-style: normal
  font-weight: 400
  line-height: 77px

.span_err
  font-size: 64px
  color: #FFFFFF

.err_description
  font-size: 64px
  color: #FFFFFF

.err__data
  text-align: center

.err__image
  max-width: 600px
  height: auto

.page__header
  padding: 10px
  font-size: 50px
  color: #FFFFFF

.link-to-chats
  display: inline-block
  line-height: 35px
  text-decoration: none
  border-bottom: 1px solid
  font-size: 36px
  color: #898989